<a href="https://colab.research.google.com/github/gsuelens/Programacao_Python/blob/main/Programa%C3%A7%C3%A3o_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Nomeação de variaveis
Laranja, melao, limao = 1,2,3

print(Laranja, melao, limao)

1 2 3

In [3]:
morango = uva = kiwi = 100
print(morango, uva, kiwi)

100 100 100

In [6]:
#Nomear listas
lista_carros = ['w','audi','tesla']
marca_01, marca_02, marca_03 = lista_carros
print (lista_carros)

['w', 'audi', 'tesla']

In [10]:
#combinar vari
Nome = 'Suelen'
Sobrenome = 'Soares'
Nome_Completo = Nome + ' ' + Sobrenome
print (Nome_Completo)

Suelen Soares

In [16]:
#Experimento
Nome = 'Suelen'
Idade = str (31)
Nome_idade =  Nome + Idade + ' anos'
print (Nome_idade)

Suelen31 anos

In [ ]:
N