<a href="https://colab.research.google.com/github/gsuelens/Programacao_Python/blob/main/Programa%C3%A7%C3%A3o_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Nomeação de variaveis
Laranja, melao, limao = 1,2,3

print(Laranja, melao, limao)

1 2 3

In [ ]:
morango = uva = kiwi = 100
print(morango, uva, kiwi)

100 100 100

In [ ]:
#Nomear listas
lista_carros = ['w','audi','tesla']
marca_01, marca_02, marca_03 = lista_carros
print (lista_carros)

['w', 'audi', 'tesla']

In [ ]:
#combinar variveis
Nome = 'Suelen'
Sobrenome = 'Soares'
Nome_Completo = Nome + ' ' + Sobrenome
print (Nome_Completo)

Suelen Soares

In [ ]:
#Experimento
Nome = 'Suelen'
Idade = str (31)
Nome_idade =  Nome + Idade + ' anos'
print (Nome_idade)

Suelen31 anos

In [ ]:
# 07 Aula
string = str('Olá Mundo')
Inteiro = int(31)
Flutuante = float(100.5)
Complex = complex (1j)
Lista = list( ('Uva', 'Morango'))
Tupla = tuple (('A', 'B'))
Range =  range(6)
Dicionario = dict (nome = 'suelen', age=30)
Set = set (('A', 'B', 'C'))
Fronzet = frozenset (('A','B','C'))
Boleano = bool (5)
Bytes = bytes(5)
Bytearray = bytearray ( 5 )


from datetime import datetime
Data  = datetime.today().date()

In [ ]:
# 8 Comando Roud
Valor_Exemplo = 12.123456789
print (Valor_Exemplo)
round (Valor_Exemplo)

12.123456789

In [ ]:
# 9 Comando len

Lista = [1,2,3,4,5,6,7,8,9,10]
Dicionario = {'Nome':'Suelen','Idade':31}
Tupla = (1,2,3)
String = 'Olá Su!'

len(String)

7

In [ ]:
# 10 Fatiamento de Strings
Minha_String = 'Aprender Python é Top'

print ( type(Minha_String ))
print ( len(Minha_String))

Minha_String[0:8] #Pega o numero da posição da letra dentro da string

<class 'str'>
21

'Aprender'

In [ ]:
# 11 Manipulação de String

String = 'Olá Mundão!'
print(String)


#Replace: Substituir
String.replace('Mundão','Mundo')

#Startswith: Verifica o começo
String.startswith('Olá')

#Endswith: Verifica o Final
String.endswith('dão!')

#Count: Contar Palavras ou letras
String.count('n')

#Capitalize: Tranforma o texto
Nome = 'suelen'
Nome.capitalize()

# Isdigit: Verifica se existe digito (numerico) dentro de strig
String_CPF = '123456789'
String_CPF.isdigit()

Olá Mundão!

True

In [ ]:

# 12 Comando Input

input('Alguma mensagem')

#Criando um formulario

Nome = input('Qual seu nome?')
Idade = input('Qual a sua idade?')

print ('Seu nome é:', Nome)
print ('Sua idade é:', Idade)

Alguma mensagemoi
Qual seu nome?su
Qual a sua idade?31
Seu nome é: su
Sua idade é: 31

In [ ]:
# 13 Operadores de Comparação

10 == 10
10 == 8
10 != 8
10 != 10
10 > 9
10 < 2
10 <= 5
10 >= 50

False

In [ ]:
#14 Operadores Lógicos

#AND - As duas validações tem que ser verdadeiras
10 > 2 and 10 > 3
10 > 2 and 10 > 20

#OR - Apenas uma das duas tem que ser verdadeiras
10 > 2 or 10 > 20
10 == 2 or 10 < 20

#NOT - Retorna se o FALSE for verdadeiro
lista =[1, 2, 3, 4]
2 in lista
10 not in lista

True

In [ ]:
#15 - Operadores de Indentidade
String_01 = 'Olá Mundão!'
String_02 = "Olá Mundão!"
type(String_01) is not type (String_02)

False

In [ ]:
#16 - Operadores de Associação
Lista_Ações = ['Magalu','Via', 'Carrefur']
'Via' in Lista_Ações
'Via' not in Lista_Ações

False

In [ ]:
#Manupulação de Listas

Lista_Vazia = []
print(Lista_Vazia)

#appedn - Para adicionar um item ao final da lista
Lista_Vazia.append( 1 )
Lista_Vazia.append( 2 )
Lista_Vazia.append( 3 )
Lista_Vazia.append( 'Valor')

Lista_Vazia[2] #Acessar Lista

#clean() - Limpar lista
print(Lista_Vazia)
Lista_Vazia.clear()
print(Lista_Vazia)

#insert() - Para inserir um item de lista em um índice especifico
Lista_Vazia.insert(0,'2,5')
Lista_Vazia

#extend() - Anexar elementos de outra lista á lista atual
Lista_01 = [ 1, 2, 3]
Lista_02 = [ 4, 5, 6]
Lista_01.extend(Lista_02)
Lista_01

#remove() - Remove o item especificado
Lista_01.remove(1)
Lista_01

#pop() - Remove o índice especificado
Lista_01.pop(0)
Lista_01

#sort() - Ordenar os valores
Lista_ABC = ['V', 'S', 'G', 'M']
Lista_ABC.sort()
Lista_ABC

#copy() - Fazer uma copia da lista
Lista_Nova = Lista_ABC.copy()
Lista_Nova

#index() - Retorna o index do elemento da lista
Lista_Nova.index('M')

[]
[1, 2, 3, 'Valor']
[]

1

In [ ]:
#18 - Pacote Externo - Datetime
type ('01/01/2024')

import datetime #Importa o pacote

Dia_Hoje = datetime.datetime.today()
print (Dia_Hoje)

type(Dia_Hoje)

print (datetime.datetime.today().date())

Data = (datetime.datetime.today().date())
Ano = Data.year
Mes = Data.month
Dia = Data.day
print (Ano, Mes, Dia)

#Construindo uma data
Data_Antiga = datetime.date(2022, 1, 1)
Data_Antiga

#Fazendo calculo com data
Data - Data_Antiga

#Ajustar formato da data
Data.strftime('%d/%m/%y')

#Somar data
Data + datetime.timedelta(days=30)

2024-01-27 01:52:59.728277
2024-01-27
2024 1 27

datetime.date(2024, 2, 26)

In [ ]:
#19 - Pacote Externo - time

import time

print ('comecei agora...')
time.sleep(3)
print ('Terminei...')

Agora = time.localtime()
print (Agora)

time.strftime('%m/%d/%y, %H:%M:%S', Agora)

Time_Texto = '21 June, 2021'
time.strptime( Time_Texto, '%d %B, %Y')

comecei agora...
Terminei...
time.struct_time(tm_year=2024, tm_mon=1, tm_mday=27, tm_hour=2, tm_min=11, tm_sec=28, tm_wday=5, tm_yday=27, tm_isdst=0)

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=172, tm_isdst=-1)

In [10]:
#20 Pacote Math
import math

Tupla =(10, 5, 20, 30, 40)

min(Tupla) #pegar o valor minimo da tupla
max(Tupla) #pegar o valor máximo da tupla

abs (-7.25) #Tranforma - em +
pow (3,4) #potencia
math.sqrt(81) #raiz quadrada
math.ceil(1.4) #arredondamento pra cima
math.floor (1.4) #arredondamento pra baixo

1