<a href="https://colab.research.google.com/github/gsuelens/Programacao_Python/blob/main/Programa%C3%A7%C3%A3o_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Nomeação de variaveis
Laranja, melao, limao = 1,2,3

print(Laranja, melao, limao)

1 2 3

In [ ]:
morango = uva = kiwi = 100
print(morango, uva, kiwi)

100 100 100

In [ ]:
#Nomear listas
lista_carros = ['w','audi','tesla']
marca_01, marca_02, marca_03 = lista_carros
print (lista_carros)

['w', 'audi', 'tesla']

In [ ]:
#combinar variveis
Nome = 'Suelen'
Sobrenome = 'Soares'
Nome_Completo = Nome + ' ' + Sobrenome
print (Nome_Completo)

Suelen Soares

In [ ]:
#Experimento
Nome = 'Suelen'
Idade = str (31)
Nome_idade =  Nome + Idade + ' anos'
print (Nome_idade)

Suelen31 anos

In [ ]:
# 07 Aula
string = str('Olá Mundo')
Inteiro = int(31)
Flutuante = float(100.5)
Complex = complex (1j)
Lista = list( ('Uva', 'Morango'))
Tupla = tuple (('A', 'B'))
Range =  range(6)
Dicionario = dict (nome = 'suelen', age=30)
Set = set (('A', 'B', 'C'))
Fronzet = frozenset (('A','B','C'))
Boleano = bool (5)
Bytes = bytes(5)
Bytearray = bytearray ( 5 )


from datetime import datetime
Data  = datetime.today().date()

In [3]:
# 8 Comando Roud
Valor_Exemplo = 12.123456789
print (Valor_Exemplo)
round (Valor_Exemplo)

12.123456789

In [14]:
# 9 Comando len

Lista = [1,2,3,4,5,6,7,8,9,10]
Dicionario = {'Nome':'Suelen','Idade':31}
Tupla = (1,2,3)
String = 'Olá Su!'

len(String)

7

In [22]:
# 10 Fatiamento de Strings
Minha_String = 'Aprender Python é Top'

print ( type(Minha_String ))
print ( len(Minha_String))

Minha_String[0:8] #Pega o numero da posição da letra dentro da string

<class 'str'>
21

'Aprender'

In [41]:
# 11 Manipulação de String

String = 'Olá Mundão!'
print(String)


#Replace: Substituir
String.replace('Mundão','Mundo')

#Startswith: Verifica o começo
String.startswith('Olá')

#Endswith: Verifica o Final
String.endswith('dão!')

#Count: Contar Palavras ou letras
String.count('n')

#Capitalize: Tranforma o texto
Nome = 'suelen'
Nome.capitalize()

# Isdigit: Verifica se existe digito (numerico) dentro de strig
String_CPF = '123456789'
String_CPF.isdigit()

Olá Mundão!

True

In [46]:

# 12 Comando Input

input('Alguma mensagem')

#Criando um formulario

Nome = input('Qual seu nome?')
Idade = input('Qual a sua idade?')

print ('Seu nome é:', Nome)
print ('Sua idade é:', Idade)

Alguma mensagemoi
Qual seu nome?su
Qual a sua idade?31
Seu nome é: su
Sua idade é: 31

In [54]:
# 13 Operadores de Comparação

10 == 10
10 == 8
10 != 8
10 != 10
10 > 9
10 < 2
10 <= 5
10 >= 50

False