<a href="https://colab.research.google.com/github/gsuelens/Programacao_Python/blob/main/Programa%C3%A7%C3%A3o_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Nomeação de variaveis
Laranja, melao, limao = 1,2,3

print(Laranja, melao, limao)

1 2 3

In [ ]:
morango = uva = kiwi = 100
print(morango, uva, kiwi)

100 100 100

In [ ]:
#Nomear listas
lista_carros = ['w','audi','tesla']
marca_01, marca_02, marca_03 = lista_carros
print (lista_carros)

['w', 'audi', 'tesla']

In [ ]:
#combinar vari
Nome = 'Suelen'
Sobrenome = 'Soares'
Nome_Completo = Nome + ' ' + Sobrenome
print (Nome_Completo)

Suelen Soares

In [ ]:
#Experimento
Nome = 'Suelen'
Idade = str (31)
Nome_idade =  Nome + Idade + ' anos'
print (Nome_idade)

Suelen31 anos

In [ ]:
#Aula 07
string = str('Olá Mundo')
Inteiro = int(31)
Flutuante = float(100.5)
Complex = complex (1j)
Lista = list( ('Uva', 'Morango'))
Tupla = tuple (('A', 'B'))
Range =  range(6)
Dicionario = dict (nome = 'suelen', age=30)
Set = set (('A', 'B', 'C'))
Fronzet = frozenset (('A','B','C'))
Boleano = bool (5)
Bytes = bytes(5)
Bytearray = bytearray ( 5 )


from datetime import datetime
Data  = datetime.today().date()

In [3]:
#Comando Roud
Valor_Exemplo = 12.123456789
print (Valor_Exemplo)

12.123456789

In [4]:
round (Valor_Exemplo)

12

In [14]:
#Comando len

Lista = [1,2,3,4,5,6,7,8,9,10]
Dicionario = {'Nome':'Suelen','Idade':31}
Tupla = (1,2,3)
String = 'Olá Su!'

len(String)

7

In [22]:
#Fatiamento de Strings
Minha_String = 'Aprender Python é Top'

print ( type(Minha_String ))
print ( len(Minha_String))

Minha_String[0:8] #Pega o numero da posição da letra dentro da string

<class 'str'>
21

'Aprender'